{% extends "base.html" %}

{% block title %}
    Accueil
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Analyse de l'URL</h2>
                        <form method="POST" action="{{ url_for('analyze') }}">
                            {{ form.csrf_token }}
                            <div class="input-group mb-3">
                                {{ form.url(class="form-control", placeholder="Entrez l'URL à analyser") }}
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">Analyser</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
